/*Soy consciente de que este CSS no debería estar ordenado así y debería ser 
fragmento en varios archivos, y que el
proyecto podría tener las imágenes en una carpeta asset, entre otras cosas.
La próxima lo hago bien, lo prometo (?), en este caso aprendí la buena práctica
medio tarde.*/

.raleway700 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
}

.raleway400 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

/*-----CSS DEL MENÚ------*/
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    color: black;
    height: 50px;
    padding: 1em;
    box-sizing: border-box;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    box-sizing: border-box
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 600px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
/*-----ACÁ FINALIZA EL CSS DEL MENÚ------*/

/*---Segmento sobre mí-----*/
.sobreMí {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  gap: 0.5rem;
}

.sobreMí__síntesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.6rem;
  gap: 0.5rem;
}

.sobreMí__síntesis2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.6rem;
  gap: 0.5rem;
}

.fotoDePerfil {
  align-self: flex-start;
  max-width: 35vw;
  max-height: 35vh;
  border-radius: 50%;
  border: solid 1px black;
}

.firma {
  align-self: flex-start;
  max-width: 25vw;
  max-height: 12vh;
}

.links {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  width: 90vw;
  align-self: flex-start;
  padding-top: 0.5rem;
  cursor: pointer;
}

.sobreMí__link {
  color: rgb(135, 16, 16)
}

.sobreMí__síntesis__texto1{
  font-size: 22px;
  line-height: 26px;
  padding: 0.5rem 0;
  color: #464646;
}

.sobreMí__síntesis__texto2{
  font-size: 14px;
  line-height: 16px;
  padding: 0.5rem 0;
  color: #464646;
}

.fondoCeleste{
  background-color: #EAF2FD;
}

.sobreMí__subtítulo {
  color: #464646;
  font-size: 1.3rem;
  line-height: 26px;
  padding: 0 0 0.4rem 0;
  align-self: flex-start;
}

.sobreMí__detalle__texto {
  color: #464646;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;  
}

/*----Segmento de las skills-----*/
.skills {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 1.3rem;
  align-items: center;
  gap: 1.5rem;
}

.skills__subtítulo {
  font-size: 1.5rem;
}

.skills__cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 96vw;
  justify-content: space-evenly;
  row-gap: 1.7rem;
  column-gap: 0.4rem;
}

.skills__card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: white;
  width: 40vw;
  padding: 3rem 1rem 1.5rem 1.5rem;
  flex-basis: 32vw;
}

.skills__card--backup {
  display: none;
}

.card__icon {
  font-size: 2.5rem;
  color: #2A7AE4;
}

.card__skill {
  font-size: 1.1rem;
}

/*------Segmento de las soft skills------*/
.softSkills {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 1.3rem;
  align-items: center;
  gap: 1.5rem;
}

.card__icon--soft {
  font-size: 2.5rem;
  color: #1f6119;
}


/*----Segmento de Hobbies----*/
.hobbies {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 1.3rem;
  align-items: center;
  gap: 1.5rem;
}

.card__icon--hobby {
  font-size: 2.5rem;
  color: #f96e9e;
}

/*El resto de los estilos de hobbies y soft skills es igual al apartado de skills*/

/*----Segmento de formación académica----*/
.formacion {
  display: flex;
  flex-direction: column;
  background-color: #EAF2FD;
  padding: 2rem 2rem;
  align-items: center;
  gap: 1.8rem;
}

.formacion__subtítulo {
  font-size: 1.5rem;
}

.formacion__card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.formaciónContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70vw;
  max-width: 70vw;
  min-height: 7.3rem;
  max-height: 7.3rem;
  background-color: white;
}

.logo__Alura {
  width: 102px;
  height: 70px;
}

.logo__Silicon {
  width: 190px;
  height: 70px;
}

.logo__ISPC {
  width: 152px;
  height: 100px;
}

.logo__UNaM {
  width: 137px;
  height: 65px;
}

.card__formacion {
  font-size: 16px;
  line-height: 19px;
}

.card__períodoEInstitución {
  font-size: 1rem;
  line-height: 16px;
}

/*----Segmento de proyectos de desarrollo web----*/
.proyectos {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 1rem 0.4rem;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 2rem;
}

.proyectos__subtítulo {
  font-size: 22px;
  line-height: 26px;
}

.proyectos__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.proyectos__imagen {
  max-width: 85vw;
  box-shadow: 5px 3px 10px -3px rgb(91, 83, 83);
  border-radius: 10px;
}

.proyectos__nombreDeProyecto {
  color: #464646;
  font-size: 1.1rem;
  line-height: 19px;
  padding-left: 0.5rem;
}

.proyectos__descripción {
  color: #464646;
  font-size: 0.9rem;
  line-height: 16px;
  padding-left: 0.5rem;
}

.proyectos__botones {
  display: flex;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  gap: 0.6rem;
}

.proyectos__botónRepo {
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  background-color: #F5F5F5;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  line-height: 3rem;
  text-decoration: none;
  text-align: center;
}

.proyectos__botónPages {
  border: 1px solid #2A7AE4;
  background-color: #2A7AE4;
  color: white;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  line-height: 3rem;
  text-decoration: none;
  text-align: center;
}

/*----Segmento de contacto----*/
.contacto {
  display: flex;
  flex-direction: column;
  background-color: #EAF2FD;
  padding: 2rem;
}

.contacto__subtítulo {
  font-size: 1.4rem;
  line-height: 26px;
  color: #464646;
  padding-bottom: 0.8rem;
}

.contacto__indicaciones {
  font-size: 0.9rem;
  line-height: 19px;
  color: #464646;
  padding-bottom: 1.6rem;
}

.contacto__imagen {
  display: none;
}

.contacto__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90vw;
}

.form__inputGroup {
  position: relative;
  margin-bottom: 1rem;
}

.form__label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  cursor: text;
  font-size: 0.9rem;
  color: #A2A2A2;
  transition: 0.2s;
}

.contacto__form--input {
  width: 90vw;
  border-radius: 4px;
  height: 2rem;
  border-style: none;
  box-shadow: 0px 4px 0px -2px #C8C8C8;
  transition: 0.3s;
}

.contacto__form--input:focus {
  outline: none;
  box-shadow: 0px 3px 1px 0px #2A7AE4;
}

.contacto__form--input:focus~.form__label,
.contacto__form--input:valid~.form__label {
  top: -1.7rem;
  font-size: 0.8rem;
}

.test {
  top: -1.7rem;
  font-size: 0.8rem;
  color: red
}

.contacto__form--area {
  height: 5rem;
  resize: none;
}

.contacto__form--botón {
  background-color: #2A7AE4;
  color: white;
  border-color: #2A7AE4;
  font-size: 1rem;
  line-height: 16px;
  height: 3rem;
  max-width: 10rem;
  transition: 0.3s;
}

.contacto__form--botón:disabled {
  background-color: #A2A2A2;
  border-color: #A2A2A2;
  transition: 0.3s;
}

/*----Segmento de footer----*/
.footer {
  text-align: center;
  background-color:#F5F5F5;
  padding: 1rem 0;
}