/*Configuración para laptops y desktops*/
@media only screen and (min-width: 992px) {
    .sobreMí__síntesis {
      display: flex;
      flex-direction: row-reverse;
      gap: 0.6rem;
      flex-wrap: wrap;
      padding: 2rem 0;
      max-width: 80vw;
    }
  
    .síntesis__textoYLinks {
        max-width: 50vw;
    }

    .sobreMí__síntesis__texto1 {
        font-size: 2rem;
        line-height: 2rem;
    }
  
    .fotoDePerfil {
      max-width: 18vw;
      max-height: 30vh;
      align-self: center;
    }

    .sobreMí__síntesis2 {
        min-width: 96vw;
    }

    .síntesisContainer {
        display: flex;
        flex-direction: column;
        max-width: 70vw;
        gap: 0.5rem;
    }

    .sobreMí__detalle__texto {
        line-height: 1.3rem;
    }

    .sobreMí__subtítulo {
        color: #464646;
        font-size: 1.5rem;
        line-height: 26px;
        padding-top: 1.5rem;
    }

    .skills__cardsContainer {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        justify-content: space-evenly;
        row-gap: 1.7rem;
        column-gap: 0.4rem;
    }

    .skills__card--desktop {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        background-color: white;
        padding: 2.5rem 0.7rem 0.6rem 1.2rem;
        flex-basis: 10vw;
      }
    
    .card__logoContainer {
      min-width: 19vw;
      max-width: 19vw;
      flex-basis: 19vw;
    }

    .formacion {
        padding-top: 2rem;
    }

    .proyectos__card {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        max-width: 80vw;
    }

    .impar {
        flex-direction: row-reverse;
    }

    .proyectos__imagen {
        max-width: 55vw;
    }

    .proyectosCardDesktop {
        align-self: center;
    }

    .contactoContainer {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .contacto__imagen {
        display: flex;
        max-width: 45vw;
        max-height: 60vh;
    }

    .contacto__form {
        max-width: 45vw;
    }

    .contacto__form--input {
        width: 45vw;
        border-radius: 4px;
        height: 2rem;
        border-style: none;
        box-shadow: 0px 4px 0px -2px #C8C8C8;
        transition: 0.3s;
      }
}